.AddTaskCard {
    background: #60A361;

    width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
  }

.AddTaskHeader {   
    padding-top: 4%;
    padding-bottom: 4%;
    margin-left: 13%;
    margin-right: 13%;
    color: #eaffea;  
}
.TitleLabel{
    float: left;
    margin-left: 5%;
  }
  
.TitleBox{
    float: left;
    margin-left: 5%;
    width: 90%;
    padding: .55%;
    background-color: #93c294;
    border: none;
  
  }

.DateTimeLabel{
    float: left;
    margin-left: 5%;
  }
  
.DateTimeBox{
    float: left;
    margin-left: 5%;
    width: 90%;
    padding: .55%;
    background-color: #93c294;
    border: none;
  }

.CategoryLabel{
    float: left;
    margin-left: 5%;
  }
  
/**.CategoryDropdown{
    position: absolute;
    top: 300px;
    margin-left: 10%;
    width: 200px;
    overflow: hidden;
}*/

.ColorLabel{
    float: right;
    margin-right: 25%;
}

.NotesBox{
    float: left;
    margin-left: 5%;
    width: 90%;
    max-height: 60px;
    padding: .55%;
    background-color: #93c294;  
}

.AttachFilesButton{
    position: absolute;
    top: 350px;
    left: 630px;
    width: 10%;
    padding: .85%;
    background-color: #2d6d2e;
    color: #000000;
  }

.CancelButton{
    position: absolute;
    top: 500px;
    left: 625px;
    width: 10%;
    padding: .85%;
    background-color: #2d6d2e;
    color: #000000;
  }

.SaveButton{
    position: absolute;
    top: 500px;
    left: 875px;
    width: 10%;
    padding: .85%;
    background-color: #2d6d2e;
    color: #000000;
  }