.DailyViewClass{
    background-color: #780ddb;
    /*padding-top: 4%;
    padding-bottom: 4%;
    margin-left: 13%;
    margin-right: 13%;
    border: 3px solid grey;*/
    position: absolute;
    top: 100px;
    left: 500px;
}

.DailyToProfile
{
    position: absolute;
    top: 400px;
    left: 50px;

}

.MonthlyView
{
    position: absolute;
    top: 400px;
    left: 200px;

}

.DailyToAddTask
{
    position: absolute;
    top: 400px;
    left: 350px;

}