.MonthlyView{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-color: #676767;
}

.calendar{
    text-align: center;
    background-image: linear-gradient(
        to top,
    
        hsla(120, 30%, 71%, 0.789),
        hsla(120, 21%, 63%, 0.914)
      );

      border-color: black;
      border-radius: 2%;
}

/* The Modal (background) */
.NewEventModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .NewEventModalBody {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }