body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .App{
    background-color: #FEFFE2;
    padding-top: 6%;
    padding-left: 11%;
    padding-bottom: 9.5%;
    padding-right: 11%;
    text-align: center;
  }
  
  .SignUpClass{
    background-color: #ffd1b2;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-left: 18%;
    margin-right: 18%;
    border: 3px solid grey;
  }
  
  .FirstNameLabel{
    float: left;
    margin-left: 26.9%;
  }
  
  .FirstNameBox{
    float: left;
    margin-left: 26.9%;
    width: 17%;
    padding: .55%;
    background-color: #FFF8E7;
    border: none;
  
  }
  
  .LastNameBox{
    float: right;
    margin-right: 26.9%;
    width: 17%;
    padding: .55%;
    background-color: #FFF8E7;
    border: none;
  
  
  }
  
  .LastNameLabel{
    float: right;
    margin-right: 35.5%;
  }
  
  .EmailBox{
    width: 45%;
    padding: .55%;
    background-color: #FFF8E7;
    border: none;
  
  }
  
  .EmailLabel{
    margin-left: -41.2%;
  }
  
  .PasswordLabel{
    margin-left: -37.7%;
  }
  
  .PasswordBox{
    padding: .55%;
    width: 45%;
    background-color: #FFF8E7;
    border: none;
  
  }
  
  .SignUpButton{
    margin: auto;
    width: 44.5%;
    padding: .85%;
    background-color: #f8c272;
    color: #000000;
    border: 2px solid #CC984C
  }
  
  .SignInWithGoogleButton{
    margin: auto;
    width: 44.5%;
    padding: .85%;
    color: #000000;
    background-color: #5b99ff;
    border: 2px solid #8CB7FF;
  }