.ProfilePage{
    background-image: linear-gradient(to right, red , yellow);
}

body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }