body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background-color: #FEFFE2;
  padding: 11%;
  margin: auto;
  text-align: center;
}

.SignUpClass{
  background-color: #FFEEEE;
  border: 3px grey;
  padding-top: 4%;
  padding-bottom: 4%;
  border: 2px solid grey;
  width: 100%;
  text-align: center;

}

.FirstNameLabel{
  float: left;
  margin-left: 35%;
}

.FirstNameBox{
  float: left;
  margin-left: 35%;
  padding: .15%;
  background-color: #FFF8E7;
}

.LastNameBox{
  float: right;
  margin-right: 35%;
  padding: .15%;
  background-color: #FFF8E7;
}
.LastNameLabel{
  float: right;
  margin-right: 41.3%;
}

.EmailBox{
  margin: auto;
  width: 29.5%;
  padding: .15%;
  background-color: #FFF8E7;
}

.EmailLabel{
  margin-left: -27.5%;
}

.PasswordLabel{
  margin-left: -25.5%;
}

.PasswordBox{
  margin: auto;
  padding: .15%;
  width: 29.5%; 
  background-color: #FFF8E7;
}

.SignUpButton{
  margin: auto;
  width: 29.5%;
  padding: .55%;
  background-color: #FFBF60;
}

.SignInWithGoogleButton{
  margin: auto;
  width: 29.5%;
  padding: .55%;
  background-color: #5B99FF;
}